@charset "UTF-8";
/* layout */
html,
body {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 367px;
}

.container {
  width: 100%;
  max-width: 1314px;
  margin: 0 auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 101;
  transition: 0.35s;
  background-color: #1a1a1a;
}

.header.hide {
  top: -80px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  height: 80px;
  border-bottom: 1px solid #3d3d3d;
}

.header_logo {
  display: inline-block;
  width: 130px;
  height: 40px;
}

.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_gnb {
  height: 100%;
}

.header ul.gnb {
  display: flex;
  align-items: center;
  gap: 36px;
  height: 100%;
}

.header ul.gnb li {
  font-size: 16px;
  font-weight: 500;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 36px;
}

.header_icons li {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.header_icons li a, 
.header_icons li button {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header_icons li .icon_login {
  background: url(../_img/icon/icon_account.svg) no-repeat center center / contain;
}

.header_icons li .icon_alarm {
  background: url(../_img/icon/icon_alarm.svg) no-repeat center center / contain;
}

.header_icons li .icon_search {
  background: url(../_img/icon/icon_search.svg) no-repeat center center / contain;
}

.header_icons li .icon_menu {
  background: url(../_img/icon/icon_menu.svg) no-repeat center center / contain;
}

/* header White */
.header.white {
  background-color: #fff;
}

.header.white .header__inner {
  border-bottom: 1px solid #FF143D;
}

.header.white ul.gnb li {
  color: #000;
}

.header.white ul.gnb li:hover {
  color: #FF143D;
}

.header.white .header_icons li .icon_login {
  background: url(../_img/icon/icon_account_dark.svg) no-repeat center center / contain;
}

.header.white .header_icons li .icon_alarm {
  background: url(../_img/icon/icon_alarm_dark.svg) no-repeat center center / contain;
}

.header.white .header_icons li .icon_search {
  background: url(../_img/icon/icon_search_dark.svg) no-repeat center center / contain;
}

.header.white .header_icons li .icon_menu {
  background: url(../_img/icon/icon_menu_dark.svg) no-repeat center center / contain;
}

/* header Sidebaer */
.header_sidebar {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
}

.sidebar__inner {
  display: flex;
  justify-content: center;
}

.sidebar-menu {
  width: 220px;
  padding: 40px;
  border-left: 1px solid #E5E5EC;
}

.sidebar-menu:last-child {
  border-right: 1px solid #E5E5EC;
}

.sidebar-menu h4.tit {
  color: #FF143D;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 28px;
}

.sidebar-menu ul li {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-bottom: 16px;
}

/* Footer */
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -367px;
  height: 367px;
  transform: translateY(-100%);
}

.footer__inner {
  padding: 0 20px;
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  border-top: 1px solid #3d3d3d;
  padding-top: 40px;
}

.footer_link {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer_link li {
  font-size: 20px;
  font-weight: 500;
  color: #d3d3d3;
}

.footer_link li a.bold {
  font-weight: 700;
  color: #9c9c9c;
}

.footer_link li:hover,
.footer_link li a.bold:hover {
  color: #fff;
}

.footer .company_info {
  margin-top: 20px;
}

.footer .company_info ul {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer .company_info ul li {
  font-size: 18px;
  font-weight: 400;
  color: #979797;
  padding: 0 8px;
  position: relative;
}

.footer .company_info ul li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #979797;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer .company_info ul li:last-child:after {
  content: none;
}

.footer .company_info ul li:first-child {
  padding-left: 0px;
}

.footer_sns_link {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_sns_link li a.link {
  display: inline-block;
  width: 46px;
  height: 46px;
}

.footer_sns_link li a.link.link_youtube {
  background: url(../_img/icon/icon_youtube.svg) no-repeat center center / contain;
}

.footer_sns_link li a.link.link_instagram {
  background: url(../_img/icon/icon_instagram.svg) no-repeat center center / contain;
}

.footer_sns_link li a.link.link_twitter {
  background: url(../_img/icon/icon_twitter.svg) no-repeat center center / contain;
}

.footer_sns_link li a.link.link_facebook {
  background: url(../_img/icon/icon_facebook.svg) no-repeat center center / contain;
}

.footer p.copyright {
  margin-top: 20px;
  color: #979797;
}